<h3>Create a new peep!</h3>

<%= form_for @person, html: {multipart: true} do |f| %>
  <%= f.label :first_name %><br/>
  <%= f.text_field :first_name %><br/>
  <%= f.label :last_name %><br/>
  <%= f.text_field :last_name %><br/>
  <%= f.label :image %><br/>
  <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %><br/><br/>
  <%= f.submit %>
<% end %>
